# http://editorconfig.org
root = true

[*.{kt, kts}]
# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed
# by the ruleset identifier.

# See https://github.com/pinterest/ktlint/issues/527
# noinspection EditorConfigKeyCorrectness
disabled_rules=import-ordering,no-wildcard-imports

max_line_length=120