# http://editorconfig.org
root = true

[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_standard_import-ordering = disabled
