/build
/captures
.DS_Store
.externalNativeBuild
.gradle
.idea/assetWizardSettings.xml
.idea/caches/build_file_checksums.ser
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
*.iml
local.properties
